body{
    margin: 0;
    padding: 0;
    font-family: arial;
}

#intro{
    background: url(../img/img01.png) 50% 0 fixed;
    background-size: cover;
    min-height: 900px;
    width: 100%;
}

#bloque-img2{
    background: url(../img/img02.png) 50% 0 fixed;
    background-size: cover;
    height: 600px;
 }  

#bloque-img3 {
    background: url(../img/img03.png) 50% 0 fixed;
    background-size: cover;
    height: 600px;
}

.bloque{
    background-color: black;
    margin: 0 auto;
}

.texto{
    color: #ddd;
    padding: 60px;
    text-align: center;
}

h2{
    font-size: 50px;
    text-shadow: 0 3px 4px black;

}