body{
    margin: 0;
    padding: 0;
    font-family: arial;
}

#intro{
    background: url(../imagenes/imagen4.jpg) 50% 0 fixed;
    background-size: cover;
    min-height: 900px;
    width: 100%;
}

#bloque-img2{
    background: url(../imagenes/imagen4.jpg) 50% 0 fixed;
    background-size: cover;
    height: 600px;
 }  

#bloque-img3 {
    background: url(../imagenes/imagen4.jpg) 50% 0 fixed;
    background-size: cover;
    height: 600px;
}

.bloque{
    background: url(../imagenes/imagen4.jpg) 50% 0 fixed;

    background-size: cover;
    min-height: 900px;
    width: 100%;

}

.texto{
    color: #ddd;
    padding: 60px;
    text-align: center;
}

h2{
    font-size: 50px;
    text-shadow: 0 3px 4px black;

}

h3{
    font-size: 40px;
    text-shadow: 0 3px 4px black;
}

img{
    
}